// $color-grey-light-1:#f7f7f7;
$color-primary: #176631;
$color-primary-light: rgb(99, 40, 6);
$color-primary-dark: rgb(21, 0, 0);
$color-grey-dark: #777;
$color-white: rgb(255, 255, 255);
$color-black: rgb(245, 11, 11);
$color-heading: #ecdbdb;
$color-font-dark: rgb(53, 52, 52);

$color-secondary-light: rgb(221, 151, 151);

$color-secondary-Aut: rgb(36, 13, 1);
$color-primary-Aut: rgb(253, 136, 0);
$color-summer-dark: #0b380b;
$color-summer-light: rgb(172, 193, 0);
// $color-sea-dark:rgb(57, 40 ,90);
// $color-sea-light:rgb(205, 155 ,15);
$color-secondary-dark: rgb(45, 7, 9);
$color-sea-lightest: rgb(96, 174, 255);
$color-sea-light: #225488;
$color-sea-dark: #061630;
$color-frame: rgb(255, 255, 255);

$color-btnsnow-dark: rgb(140, 101, 255);
$color-btnsnow-light: rgb(237, 100, 20);
// $color-btnsummer-light:rgb(255, 255, 255);
$color-btnsummer-light: rgb(245, 249, 6);
$color-btnsummer-dark: rgb(38, 122, 1);
$color-btnc-light: rgb(191, 145, 145);
$color-btnc-dark: rgb(84, 30, 37);

$color-sky-light: #fdb6b6;
$color-sky-dark: steelblue;
// $color-sky-dark: rgb(140, 122, 205);

// $color-btnsnow-dark:rgb(186, 185, 243);
// $color-btnsnow-light:rgb(245, 204, 175);

$color-Autumn-2: #e7b14d;
$color-Autumn-dark-2: #5f0606;

$color-Autumn-light: rgb(241, 69, 1);
$color-Autumn-light: #ffb900;

$color-Autumn-dark: rgb(247, 178, 56);

$color-grey-dark-3: #333;
$color-grey-light-1: #e7e7e7;
$color-grey-light-2: #9b9b9b;

$color-transend: #6e5f61;
// $color-sea-light:#F7B12F;
// $color-sea-dark:#1A025D;

// $sea: img/sea.jpg;
$color-picture-seaLight: #225488;
$color-picture-seaDark: #061630;
// $assetPath: "";
$Autumn-img: "Autumn.jpg";
$Winter-img: "winter.jpg";
$Spring-img: "spring.jpg";
$Summer-img: "summer.jpg";
$SeaFront-img: "sea.jpg";
$SeaBack-img: "c3.jpg";
$school: "ellesmere-min.jpg";
$oldStreet: "wire-min.jpg";
$oldPaper: "paper.png";
$manWeb: "y.jpg";
// $creditsImage: "yyyy.png";
// $creditsImage: "xxx-lazy.jpg";
$creditsImage: "xxx.jpg";

// $Garage-header: #8db771;
// $Garage-header: #9b9b9b;
$Garage-header: dimgrey;

$default-font-size: 2.5rem;

$grid-width: 125rem;
// $grid-width: 80%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 6rem;
