.u-center-text {
  text-align: center;



}

.u-padding-top-small {
  padding-top: 1rem;

}


.u-padding-top {
  padding-top: 12rem;

}

.u-padding-topneg {
  padding-top: -5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 4rem; 

}
}
.u-margin-bottom-vbig {
  margin-bottom: 20rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-top{
  margin-top: -3rem;
}

